body {
  background-color: #f4f4f4;
}
.container {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}
.btn-vh {
  background-color: #5BD1D7;
  color: #FFFFFF;
}
.btn-vh:hover {
  color: #FFFFFF;
  background: #32c5cd;
}
