@bg-color: #f4f4f4;
@container-bg: #ffffff;
@primary-color: #5BD1D7;
@white: #FFFFFF;

body {
    background-color: @bg-color;
}

.container {
    background-color: @container-bg;
    padding: 20px;
    text-align: center;
}

.btn-vh {
    background-color: @primary-color;
    color: @white;

    &:hover {
        color: @white;
        background: darken(@primary-color, 10%);
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 0px 10px 20px 10px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
        text-align: center;

        h2 {
            margin-top: 0;
        }

        .close {
            color: #aaa;
            align-self: flex-end;
            font-size: 28px;
            font-weight: bold;

            &:hover, &:focus {
                color: #bb0909;
                cursor: pointer;
            }
        }
    }
}

.badge {
    padding: 0.65em 0.95em;
    color: @white;
    background-color: #808080;
}
