@model IEnumerable<Demo.Application.Enums.HealthcareStage>

<div class="modal" id="journeyModal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h4>Healthcare Process Journey</h4>
        <p class="text-center mt-4">
            @foreach (var stage in Model)
            {
                <span class="badge text-bg-dark">
                    @stage
                </span>
                @if (stage != Demo.Application.Enums.HealthcareStage.Discharge)
                {
                    <span><b> > </b></span>
                }
            }
        </p>
    </div>
</div>
