@model Demo.Application.Enums.HealthcareStage

<div class="container">
    <h1>Healthcare Process</h1>
    <div id="stage-display">Current Stage: @Model</div>

    @if (TempData["Error"] != null)
    {
        <div class="error-message">@TempData["Error"]</div>
    }
    @if (TempData["Message"] != null)
    {
        <div class="success-message">@TempData["Message"]</div>
    }

    <div class="d-flex flex-row gap-3 justify-content-center mt-2">
        <form method="post" asp-action="MoveNext">
            <button class="btn  btn-vh" type="submit">Move to Next Stage</button>
        </form>

        <form method="post" asp-action="Reset">
            <button class="btn btn-danger" type="submit">Reset Process</button>
        </form>
    </div>
</div>
